.hidden.input {
  padding: 0;
}
.has_many.images {
  margin-bottom: 20px;
  .button {
    margin-bottom: 10px
  }
}

ol.nested_set * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#wrapper .nested_set {
  margin-top: -13px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  ol {
    margin: 0px 0px 0px 25px;
    padding: 0;
  }
  li {
    margin-bottom: 5px;
    li {
      margin-top: 5px;
    }
  }
  .link > a {
    color: #000;
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none;
    float: left;
    display: block;
    padding-left: 10px;
  }
  .root a {
    // font-weight: bold;
  }
  a:hover {
    text-decoration: none;
  }
  .handle {
    cursor: move;
  }
  .link {
    position: relative;
    overflow: hidden;
    zoom: 1;
    padding: 5px;
    border:1px solid #dddddd;
    background:#ffffff;
    background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#f5f5f5));
    background:-moz-linear-gradient(top,#ffffff,#f5f5f5);
    background:-webkit-linear-gradient(top,#ffffff,#f5f5f5);
    background:-o-linear-gradient(top,#ffffff,#f5f5f5);
    background:-ms-linear-gradient(top,#ffffff,#f5f5f5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5');
    background:linear-gradient(top,#ffffff,#f5f5f5);
    box-shadow:0 1px 0 #ffffff;
    -webkit-box-shadow:0 1px 0 #ffffff;
    -moz-box-shadow:0 1px 0 #ffffff;
    height: 17px;
    cursor: default;
  }
  .controls {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .ns_button {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin: 0 0 0 3px;
    cursor: pointer;
  }

  .handle {
    width: 16px;
    height: 16px;
    float: left;
    background: transparent image_url("drag.png") no-repeat scroll center center;
  }
  .placeholder {
    background-color: #f5f5f5;
    border: 1px dashed #dddddd;
    // height: 17px;
    padding: 0;
  }
  .mjs-nestedSortable-error {
    background: #FAA;
    color: #8a1f11;
  }
  .ns_button {
    &.edit {
      background: transparent image_url("edit.png") no-repeat scroll center center;
    }
    &.delete {
      background: transparent image_url("delete.png") no-repeat scroll center center;
    }
    &.on {
      background: transparent image_url("on.png") no-repeat scroll center center;
    }
    &.off {
      background: transparent image_url("off.png") no-repeat scroll center center;
    }
  }
}
